<%- include('partials/_head') %>


<body class="sub_page">
  <div class="hero_area">
    <%- include('partials/_header') %>
  </div>

  <!-- event section -->
  <section class="event_section layout_padding">
    <div class="container">
      <% if(course) { %>
      <div class="heading_container">
        <h3><%= course.name %></h3>
        <p><%= course.description %></p>
      </div>
      <div class="event_container">
        <div class="box">
          <div class="img-box">
            <img src="/images/event-img.jpg" alt="" />
          </div>
          <div class="detail-box">
            <% if(course.user) { %>
            <h4>
              <%= course.user.name %>
            </h4>
            <h6>
              <%= course.user.email %>
            </h6>
            <% }  %>
          </div>
          <div class="date-box">
            <h3>
              <span>
                15
              </span>
              March
            </h3>
          </div>
        </div>
      </div>

      <% if(user && !(user.courses.includes(course._id))) { %>
      <form action="/courses/<%= course.slug %>/enroll" method="POST">
        <div class="btn-box">
          <input type="hidden" name="course_id" value="<%= course._id %>">
          <button class="btn btn-lg btn-ost rounded-0 text-white"><span>ENROLL</span></button>
        </div>
      </form>
      <% }  %>
      <% if(user && (user.courses.includes(course._id))) { %>
      <div class="btn-box">
        <button class="btn btn-lg btn-ost rounded-0 text-white disabled"><span>You Are Already Enrolled</span></button>
      </div>
      <% }  %>

      <% }  %>
      <% if(!course) { %>
      <div class="heading_container">
        <h3>Course Not Found</h3>
      </div>
      <% }  %>
    </div>
  </section>

  <!-- end event section -->
  <%- include('partials/_footer') %>