<%- include('partials/_head') %>

<body class="sub_page">
  <div class="hero_area">
    <%- include('partials/_header') %>
  </div>

  <!-- courses section -->

  <section class="course_section layout_padding">
    <div class="side_img">
      <img src="/images/side-img.png" alt="" />
    </div>
    <div class="container">
      <div class="heading_container">
        <h3>
          POPULAR COURSES
        </h3>
        <p>
          It is a long established fact that a reader will be distracted
        </p>
        <% if (flashMessages) { %>
        <div id="alert-container" class="text-center">
          <% if (flashMessages.success) { %>
          <div class="alert alert-success">
            <%= flashMessages.success %>
          </div>
          <% } else if (flashMessages.error ) { %>
          <div class="alert alert-danger">
            <%= flashMessages.error %>
          </div>
          <% } %>
        </div>
        <script type="text/javascript">
          setTimeout("document.getElementById('alert-container').remove()", 3000);
        </script>
        <% } %>
      </div>
      <div class="categories">
        <div class="row">
          <div class="col-xl-12">
            <div class="course_nav">
              <nav>
                <ul class="nav" role="tablist">
                  <form class="search-form" action="/courses" method="GET">
                    <div class="searchbar">
                      <input class="search_input" id="search_input" type="text" name="search" placeholder="Search...">
                      <a class="search_icon"><i class="nav_search-btn"></i></a>
                    </div>
                  </form>
                  <li class="nav-item">
                    <a class="nav-link <%= categorySlug == null && 'active' %>" href="/courses" role="tab"
                      aria-controls="courses" aria-selected="true">All Courses</a>
                  </li>
                  <% for (let i=0; i< categories.length; i++) { %>
                  <li class="nav-item">
                    <a class="nav-link <%= categorySlug === categories[i].slug && 'active' %>"
                      href="/courses?categories=<%= categories[i].slug %>" role="tab"
                      aria-controls="<%= categories[i].slug %>" aria-selected="false"><%= categories[i].name %></a>
                  </li>
                  <% } %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/_courses') %>
    </div>
  </section>

  <!-- end courses section -->
  <%- include('partials/_footer') %>